{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block body %} 


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">My Awesome Cart</h1>
        <p> <b>My Awesome Cart</b>  was founded in October 2007 by Sachin Bansal and Binny Bansal, who were both alumni of the Indian Institute of Technology Delhi and formerly worked for Amazon.[14][15][16] The company initially focused on online book sales with country-wide shipping. Following its launch, Flipkart slowly grew in prominence; by 2008, it was receiving 100 orders per day.[17] In 2010, Flipkart acquired the Bangalore-based social book discovery service WeRead from Lulu.com.[18]

            In late 2011, Flipkart made several acquisitions relating to digital distribution, including Mime360.com[19] and the digital content library of Bollywood portal Chakpak.[20]
            
            In February 2012, the company unveiled its DRM-free online music store Flyte. However, the service was unsuccessful due to competition from free streaming sites, and shut down in June 2013.[21][22][23][24]
            
            In May 2012, Flipkart acquired Letsbuy, an online electronics retailer.[25] In May 2014, Flipkart acquired Myntra, an online fashion retailer, for ₹20 billion (US$280 million).[26] Myntra continues to operate alongside Flipkart as a standalone subsidiary; the site focuses on an upscale, "fashion-conscious" market, while Flipkart itself focuses on the mainstream market and major international brands.[27].</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>


{% endblock %}